[Unit]
Description=Paceic-EMS-Station

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/paceic_ems_server/main/bin/station_main
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
